<div class="ques-list">
  <% @questions.each do |q| %>
  <div class="ques-item">
    <div class="ques-deets">
      <div class="ques-deet"><%= q.vote_count %> <br><span>votes</span></div>
      <div class="ques-deet"><%= q.answers.size%> <br><span>answers</span></div>
      <div class="ques-deet"><%= q.view_count %> <br><span>views</span></div>
    </div>
    <h3><%= link_to q.title, question_path(q) %></h3>
  </div>
  <% end %>
</div>