<div class="content-row">
<%= form_tag('/best', :method=>'post') do %>
  <%= hidden_field_tag "best_answer_id", "#{answer.id}" %>
  <div class="submit-btn"><%= submit_tag "Mark this as the best answer" %></div>
<% end %>
</div>