<div class="vote-deets">
  <table class="response-vote-table">
    <tr>
      <td><div class="up"><%= image_tag("gray-arrow-small.png")%></div>
      </td>
    </tr>
    <tr>
      <td><div class="vote-num"><%= object.vote_count %></div>
      </td>
    </tr>
    <tr>
      <td><div class="down"><%= image_tag("gray-arrow-small.png")%></div>
      </td>
    </tr> 
  </table>
</div>
