<%= form_for [@parent, Response.new] do |f| %>
  <div>
    <%= f.hidden_field :parent_id, :value => @parent.id %>
    Make a comment: <br> <%= f.text_area :content, size: "60x6" %>
  </div>
  <div>
    <%= f.submit 'comment' %>
  </div>
<% end %>

