<div class='ques-answer cf'>
<h4>Questions tagged with <%=@tag.name%>:</h4>

<ul>
<% @tag.questions.each do |question| %>
    <div class="btn"><%= link_to question.title, question_path(question) %></div>
<% end %>
</ul>

</div>