<p>value, voter_id, votable_id, votable_type</p>
<p>This is the question object: <%= question %></p>
<p>This is the vote object: <%= vote %></p>



<%= render "votes/questions_vote_form", :question => @question, :vote => @vote %>